.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 23.4375rem;
  height: 100%;
  background-color: #ffffff;
  position: relative;
  border: 0.0625rem solid black;
}

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.125rem;
  background-color: #fafafa;
  box-shadow: 0rem 0.020625rem 0rem 0rem #a6a6aa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

.logo {
  width: 1.5625rem;
  height: 1.625rem;
  flex-shrink: 0;
}

.headerText {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.004375rem;
  color: #262626;
  margin-left: 1rem;
  line-height: 1.125rem;
}

.blueprint {
  color: #0078e8;
}

.contentSurround {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 5px auto;
  padding-top: 45px;
  padding-bottom: 45px;
}

.contentScroll {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 5px auto;
  font-size: 11px;
  font-family: "Poppins", sans-serif;
}

.postImage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.profileRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10;
  gap: 15;
  padding-right: 5px;
}

.profileName {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10;
  gap: 15;
  padding-left: 10px;
  font-size: 11px;
}

.locName {
  width: 100%;
  display: flex;
  font-size: 9px;
  font-style: italic;
}
.smallText {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  gap: 15px;
  font-weight: lighter;
}
.iconRow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10;
  gap: 15;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.iconLeft {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10;
  gap: 15;
}

.iconRight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-radius: 10;
  gap: 15;
}

.postBorder {
  width: 100%;
  border-bottom: 1px solid gray;
}
